@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply no-scrollbar;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  [data-slot="tabList"] {
    flex-wrap: wrap !important;
  }
}
